/* Page Layout */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* height spans the full viewport */
}

/* Header */
header {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Main */
main {
    flex: 1; /* Fills the available space */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px;
    text-align: center;
    border-top: 2px solid var(--border-color);
}
